@import '../style.scss';

.ht-menu-link {
    .ht-menu-link__link-block {
        display: flex;
        align-items: center;
        margin: 1.5rem 0;
      .link-block__text-block {
        flex-grow: 1;
        .text-block__text {
          font-weight: bold;
          margin: auto;
          text-align: center;
          width: 28rem;
          font-size: 23px;
          @include mobileBreakpoint {
            width: 15rem;
            font-size: 17px;
          }
          &.active {
            color: $color-primary;
            padding-bottom: 10px;
            border-bottom: 1px solid $color-primary;
          }
          &.disabled {
            opacity: 0.4;
          }
        }
      }
      .link-block__radio {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        @include mobileBreakpoint {
          width: 10px;
          height: 10px;
        }
        box-shadow: 0 0 0 1px $color-box-shadow;
        input:hover ~ & {
          background-color: $color-primary-ripple;
        }
        &.disabled {
          opacity: 0.4;
        }
        &.active{
          box-shadow: none;
          transform: scale(2.5);
          background-image: radial-gradient(
            $color-primary 10%,
            $color-white 2%
          );
          input:hover ~ & {
            background-color: $color-white;
          }
        }
      }
    }
  }