@import '../style.scss';

@mixin button($bg) {
  background-color: $bg;
  color: $color-white;
  margin: 5px 5px;
  outline: none;
  display: flex;
  justify-content: center;

  img {
    margin: 0 0.5rem;
  }
}

.ht-button-authentification {
  display: flex;
  max-width: 35rem;
  margin: auto;
  .ht-button-authentification__google {
    @include button($color-bg-google);
    color: $color-text-google;
  }

  .ht-button-authentification__facebook {
    @include button($color-bg-facebook);
  }

  .ht-button-authentification__linkedin {
    @include button($color-bg-linkedin);
  }
}
